# Godot 4
.import/
.godot/
*.import

# Godot UIDs
*.uid

# GDExtension / Native build outputs
*.dll
*.so
*.dylib

# Platform builds
export/
*.zip
*.pck
*.apk
*.exe
*.dmg

# Temporary / cache / logs
*.log
*.tmp

# OS junk
.DS_Store
**/.DS_Store
Thumbs.db
